header {
	background: #8CA88A;
	padding: 20px 0;

}

.caixa{
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav{
	position: absolute;
	top: 80px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
	font-family: fantasy;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

.materias {
	width: 940px;
	margin: 0 auto;
	padding: 50px;
}

.materias li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	background: #8CA88A;
	margin:  0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
}

.materias h2 {
	font-size: 30px;
	font-family: fantasy;
}

.descricao {
	font-size: 18px;
}